.cta {
    padding-top: 50px;
    a{
        background-color: #1c2738 ;
        padding: 25px;
        border-radius: 10%;
        transition: background-color 0.3s ease;
    }
    a:hover{
        background-color: #293342;
    }
}