.search-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* center items in row */
}

.search-grid-item {
  background-color: #1c2738;
  transition: background-color 0.3s ease;
  flex: 1 1 300px; /* grow/shrink, but max width ~300px */
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-grid-item:hover{
  background-color: #293342;
}
.search-grid-item h3{
    color: #22e7a1;
}

.search-grid-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.search-grid-item h3 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.search-grid-item a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .search-grid-item {
    flex: 1 1 100%; /* stack on small screens */
  }
}