.seller-info{
    display: flex;
    flex-direction: column;
}
.reviews{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center; /* center items in row */
.review-item {
  background-color: #1c2738;
  transition: background-color 0.3s ease;
  flex: 1 1 300px; /* grow/shrink, but max width ~300px */
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;}
}